<!-- <footer class="main-footer">
  <div class="footer-container">
    
    <div class="footer-section">
      <h4>Gestor de Torneos</h4>
      <p>&copy; 2025 Goal Manager & Asociados - Todos los derechos reservados</p>
      <p>Proyecto Final - Tecnicatura en Programación</p>

    </div>

    <div class="footer-section">
      <h4>Navegación</h4>
      <p>Email: consultas@goalmanager.com</p>
      <p>Telefono: +54 9 2234 567-891</p>
      <p></p>
    </div>

    <div class="footer-section">
      <h4>Seguinos</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.x.com/" target="_blank" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitch.com/" target="_blank" class="social-icon twitch"><i class="fab fa-twitch"></i></a>
      </div>
    </div>

  </div>
</footer> -->

<footer class="footer-dark">
  <div class="footer-container">
    
    <div class="footer-row">
      
      <div class="footer-col">
        <img src="/assets/img/logo.png" alt="Logo Goal Manager" class="footer-logo">
      </div>
        
    <div class="col-md-4 footer-col">
      <h5>Navegación</h5>
      
      <ul class="list-unstyled">
        
        <li>
          <a href="mailto:consultas@goalmanager.com" class="footer-contact-link">
            Email: consultas@goalmanager.com
          </a>
        </li>
      
        <li>
          <a href="https://wa.me/5492234567891" target="_blank" class="footer-contact-link">
            Teléfono: +54 9 2234 567-891
          </a>
        </li>
      
      </ul>
    </div>
    
      <div class="footer-col">
        <h5>Seguinos</h5>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.x.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.twitch.com/"><i class="fab fa-twitch"></i></a>
        </div>
      </div>
    </div>

    <hr class="footer-line">

    <div class="footer-copyright">
      <p>&copy; 2025 Goal Manager & Asociados - Todos los derechos reservados</p>
      <p>Proyecto Final - Tecnicatura en Programación</p>
    </div>

  </div>
</footer>