<h2>{{equipo?.nombre}}</h2>
<img src="" alt="">
<h3>Detalles del equipo</h3>

@if(equipo){
    <div>
    <p><b>ID:</b> {{ equipo.id }}</p>
    <p><b>Título:</b> {{ equipo.nombre }}</p>
    <p><b>Año:</b> {{ equipo.nombreTorneo }}</p>
  </div>
}

  <h3>Director Tecnico: </h3>
  <ul>
    <li [routerLink]="['es/torneos/equipo/dt/', directorT?.id]">
    <img src="" alt="">
    {{directorT?.nombre}}</li>
  </ul>


<h2>Lista de Jugadores</h2>

<ul>
  @for (jugador of filtrarJugadores; track jugador.id) {
    <li [routerLink]="['/es/torneos/equipo/jugador/', jugador.id]">
      <!-- <img 
        [src]="equipo.escudo" 
        [alt]="'Escudo de ' + equipo.nombre" 
        class="team-crest"> -->
      
      <span class="jugador-name">{{ jugador.nombre }}</span>
      <span class="jugador-name">{{ jugador.numeroCamiseta }}</span>
    </li>
  } @empty {
    <p>No hay jugadores registrados en este equipo.</p>
  }
</ul>


<h2>Fixture</h2>

<ul>
  @for (fixture of fixtures; track fixture.id) {
    <li routerLink="">
      <span>{{ fixture.fechaPartido }}</span>
      <span>{{ fixture.estadoPartido }}</span>
    </li>
  } @empty {
    <p>No hay jugadores registrados en este equipo.</p>
  }
</ul>