<header class="main-header">
  <div class="header-container">
    
    <div class="logo">
      <a routerLink="/">🏆 Gestor de Torneos</a>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a routerLink="" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/" routerLinkActive="active">Nosotros</a></li>
        <li><a routerLink="" routerLinkActive="active">Noticias</a></li>
        <li><a routerLink="" routerLinkActive="active">Contactos</a></li>
      </ul>
    </nav>

    <div class="header-right-side">

<div class="language-switcher">
  <a class="lang-link active" title="Español">
    ES 🇪🇸</a>
  <span class="lang-separator">|</span>
  <a class="lang-link" title="English">
    EN 🇬🇧
  </a>
</div>

      <button class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div> </div>
</header>