<header class="main-header">
<nav class="navbar">
  
  <div class="navbar-logo">
    <a routerLink="/es">
    <img src="/assets/img/logo.png" alt="Logo">
  </a>
    
  </div>

  <ul class="navbar-links">
    <li><a href="/es">Inicio</a></li>
    <li><a href="/noticias">Noticias</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="contactos">Contactos</a></li>
  </ul>

  <div class="navbar-lang">
    <span>ES</span> | <span>EN</span>
  </div>

  <button class="navbar-menu-btn">
    <span class="material-icons">
      _
    </span>
  </button>

</nav>
</header>