.home-container {

  background-image: url('/assets/img/mario-klassen-70YxSTWa2Zw-unsplash.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  min-height: 105vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  color: white; 
  padding: 20px;
  box-sizing: border-box;
}


.home-container h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.home-container p {
  font-size: 1.2em;
  max-width: 700px;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.btn-primary {
  /* Apariencia */
  display: inline-block; /* Permite que tenga padding */
  padding: 20px 36px; /* Espaciado interno (vertical | horizontal) */
  font-size: 1.4em;
  font-weight: bold;
  color: white; /* Color del texto */
  background-color: #00334e; /* Un color naranja (como el de tu header) */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  
  /* Comportamiento */
  text-decoration: none; /* Saca el subrayado del link */
  text-align: center;
  cursor: pointer;
  
  /* Efectos */
  margin-top: 20px; /* Espacio para separarlo del párrafo de arriba */
  transition: background-color 0.3s ease; /* Transición suave */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* Efecto al pasar el mouse por encima */
.btn-primary:hover {
  background-color: #002235; /* Un naranja un poco más oscuro */
  color: white;
}