<nav class="navbar" [ngClass]="{'navbar-scrolled': isScrolled}">
  
  <div class="navbar-logo">
    <a routerLink="/es">
      <img src="/assets/img/logo.png" alt="Goal Manager Logo">
    </a>
  </div>

  <ul class="navbar-links">
    <li><a class="nav-link" routerLink="/es">Inicio</a></li>
    <li><a class="nav-link" routerLink="/es" fragment="noticias">Noticias</a></li>
    <li><a class="nav-link" routerLink="/es" fragment="nosotros">Nosotros</a></li>
    <li><a class="nav-link" routerLink="/es" fragment="contactos">Contactos</a></li>
  </ul>

  <div class="navbar-lang">
    <span>ES </span> | <span> EN</span>
  </div>

  <button class="navbar-menu-btn">
    <span class="material-icons">
      m
    </span>
  </button>

</nav>